/* Task 1: Style the body */
body {
    font-family: "Monserrat", sans-serif;
    margin:0;
    padding:0;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #f4f4f4;
}

/* Task 2: Create a pseudo-element for the background and blur */
body::before {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-image: url('./background-colors.jpg') no-repeat center;
}

/* Task 3: Style the content area */
.content {
    position:fixed;
    z-index:9;
    max-width: 1200px;

}

/* Task 4: Add styles for headings, paragraphs, and buttons */
h1, h2, .lead, .btn-primary {
    font-size: 4rem;
    color: #3a3a3a;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.lead {
    font-size: 1.5rem;
    color: #3a3a3a;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #1E90FF; 
    color: #FFFFFF; 
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.1s;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #f50057;
    transform: scale(1.05);
}
@media (max-width: 768px) {
    h1 {
        font-size: 3rem; /* Smaller font size for headings on mobile */
    }
    h2 {
        font-size: 2.5rem; /* Smaller font size for subheadings on mobile */
    }
    .lead {
        font-size: 1.25rem; /* Smaller font size for text on mobile */
    }
}